body{
    margin: 0;
    font-size: 14pt;
    color: aliceblue;
    background: black;
    font-family: trajan-pro-3, serif;
    font-style: normal;
    font-weight: 600;
}


.header{
    position: fixed;
    float: left;
    background: inherit;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(225, 225, 225, 0.25);
}

.container{
    width: 90%;
    position: fixed;
    margin: 0px 5% 0px 5%;
}

.logo{
    float: left;
    margin: 5px 15px 0px 0px;
    font-family: trajan-pro-3, serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

.logo img{
    width: 45px;
    margin-bottom: -15px;
}

.search-bar{
    display: inline;
}

.search-bar div{
    float: left;
    border: 2px solid rgba(225, 225, 225, 0.25);
    width: 368px;
    border-radius: 5%;
    margin: 15px 0px 0px 15%;

}

.search-bar div input{
    width: 300px;
    border: 0;
    border-radius: 1%;
    height: 22px;
    margin: 0px 0px 0px 1px;
    outline: none;
}

.search-bar div button{
    margin-left: -5px;
    border: 0;
    border-left: 2px solid rgba(225, 225, 225, 0.25);
    width: 63px;
    border-radius: 2%;
    height: 24px;
    outline: none;
}

.menu{
    float: right;
}

.menu ul{
    display: inline-flex;
    list-style: none;
    padding-right: 50px;
}

.menu ul li{
    padding-right: 15px;
}

.usuario{
    float:right;
    margin-top: 21px;
    display: block;
}



.usuario a{
    border: 0.5px solid #a1261b;
    padding: 10px;
}

.usuario a:nth-child(1){
    margin-right: 10px;
}

.usuario-online{
    float:right;
    margin-top: 5px;
    display: none;
}

.usuario-online img{
    border-radius: 100%;
    width: 45px;
    border: 1px solid #464646;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

.welcome{
    float: left;
    margin: 75px 25% 5px 08%;
    width: 100%;
}

.welcome .text h1, .welcome .text h3{
    margin: 0;
}

.text{
    text-align: center;
    margin-bottom: 15px;
    width: 88%;
    font-family: trajan-pro-3, serif;
    font-style: normal;
    font-weight: bold;

}

.carousel{
    background: transparent;
    Border: 1px solid #262626;
    Box-shadow : 0px 10px 30px #26262626;
    width: 88%;
}

.carousel-item{
    display: none;
    height: 450px;
}
.carousel-item img{
    float: left;
}

.carousel-item h2{
    margin: 0;
}

.carousel-item h4{
    margin-top: 0;
}

.carousel-item span{
    font-size: 11pt;
}

.dot{
height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.last-updates{
    float: left;
    width: 100%;
}

.souls-news{
    margin-left: 8%;
    float: left;
}

.souls-news .ytbvideo iframe{
    width: 535px;
    height: 400px;
}

.lore{
    float: left;
    margin-top: 60px;
}

.content-lores{
    margin: 15px 75px 0px 105px;
    border: 1px solid;
    height: 323px;
}

.content-lores:hover{
    border: 1px solid #a1261b;
    background-color: #212121;
    cursor: pointer;
}

.souls-lore{
    width: 60%;
    float: left;
    margin-left: 50px;
}

.souls-logo{
    float: right;
    width: 270px;
    height: 319px;
}
.souls-logo img{
    float: right;
    width: 270px;
    height: 319px;
}

.atual{
    color: #a1261b;
    text-decoration: underline;
}

.full-lores{
    margin: 15px 75px 0px 105px;
    border: 1px solid #262626;
    height: auto;
}

.full-lores:hover{
    cursor: pointer;
    background-color: #262626;
}

.full-lores .title{
    text-align: center;
}

.full-lores .details{
    margin: 0px 15px 0px 15px
}

.details span p{
    text-align: center;
}

.formulario-soulsite{
    float: left;
    margin-top: 60px;
    width: 100%;
}

.formulario-soulsite .content-form{
    margin: 15px 0px 0px 75px;
}

.formulario-soulsite .first-message h1{
    margin-bottom: 0;
}

.formulario-soulsite .first-message h1, .formulario-soulsite .first-message h5{
    margin-top: 0;
}

.content-form{
    width: 45%;
}

.content-form form{
    display: grid;
}

.caixa-texto-padrao{
    height: 35px;
    margin-bottom: 15px;
}

.btn-form{
    width: 50%;
    height: 55px;
    margin: 0px 0px 0px 25%;
    font-size: 22pt;
}

.formulario-soulsite div{
    margin-bottom: 15px;
}

.btngreen{
    background-color: #a1261b;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.m-erro{
    color: red;
}
.m-erro li{
    background-color: #ff00004a;
    padding: 10px;
    margin: 5px;
    list-style: none;
    font-weight: bold;
    border-radius: 5px;
}

.form-content{
    position: fixed;
    height: 100%;
    width: 100%;
}

#form_login{
    margin: 75px 25% 75px 30%;
    width: 40%;
    height: 75%;
    border-radius: 5%;
    background: transparent;
    border: 1px solid #262626;

}

.container-input{
    margin-left: 10%;
}

.container-input label{
    display: block;
}

.container-input input{
    height: 35px;
    width: 85%;
    font-size: 14pt;
    color: inherit;
    outline: none;
    background: inherit;
    border: 0.5px solid #a1261b;
}

#form_login img{
    margin-left: 35%;
    border-radius: 100%;
    border: 1px solid;
    margin-bottom: 15px;
}

.button-field{
    margin-left: 10%;
}

#btn_entrar{
    height: 55px;
    width: 125px;
    font-size: 22pt;
    border: 1px solid #a1261b;
    background: inherit;
    color: inherit;
    cursor: pointer;
    border-radius: 20% 0px 0px 0px;
    margin-left: 0.25%;
}

.button-field button:nth-child(2){
    height: 55px;
    width: 150px;
    font-size: 22pt;
    border: 1px solid #a1261b;
    background: inherit;
    color: inherit;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 27.5%;
    border-radius: 0px 20% 0px 0px;
}
.button-field button:nth-child(4){
    height: 55px;
    width: 85%;
    font-size: 22pt;
    border: 1px solid #a1261b;
    background: inherit;
    cursor: pointer;
    color: inherit;
    border-radius: 5px 5% 5px 5px;
}

.img-aguarde{
    position: absolute;
    top: 58%;
    width: 20%;
    left: 50%;
    height: 30%;
    margin: 74px 25% 75px 30%;
    border-radius: 2%;
    display: none;
}

.container-popup{
    width: 90%;
    margin: 0px 5% 0px 5%;
}

.popup-menu{
    position: fixed;
    width: 210px;
    height: 400px;
    background: #262626;
    top: 65px;
    right: 80px;
    display: none;
}

.popup-image{
    border-bottom: 0.2px solid #262626;
    margin: 15px 0px 15px 0px;
    display: flex;
    padding-bottom: 10px;
}

.popup-image img{
    width: 40px;
    padding: 5px;
    border: 0.2px solid;
    border-radius: 100%;
}

.options-popup{
    border-bottom: 0.2px solid #262626;
    padding-bottom: 10px;
}

.username{
    margin-left: 10px;
}

.popup-option{
    margin-bottom: 35px;
    margin-left: 10px;
}

.popup-option a span{
    margin-left: 10px;
    margin-bottom: 15px;
}

.logoff-popup .popup-option{
    margin-top: 20px;
    margin-left: 45px;
    margin-bottom: 0;
    color: #a1261b;
}

.register-content{
    position: fixed;
    height: 100%;
    width: 100%;
}


#form_cadastro{
    float: left;
    border: 1px solid #262626;
    background: transparent;
    border-radius: 5%;
    margin: 6% 30%;
    width: 40%;
    height: 75%;
}

#form_cadastro .register-container .button-field button{
    border-radius: 5%;
    width: 85%;
}

#form_cadastro .register-container .button-field {
    margin-left: 10%;
    margin-top: 10%;
}

.use-terms{
    margin-left: 5%;
    margin-left: 9%;
    margin-top: 5%;
    width: 85%;
}

.use-terms a{
    color: #a1261b;
    text-decoration: underline;
}

.user-register{
    width: 45px;
}

.image-register{
        margin-left: 40%;
        border-radius: 100%;
}

.image-register img{
    width: 100px;
    border: 1px solid #a1261b;
    border-radius: 100%;
}

.full-npcs{
    margin: 15px 75px 0px 105px;
    border: 1px solid #262626;
    height: auto;
}

.npc-details{
    display: flex;
}

.full-npcs .npc-details a{
    margin: 4% 4% 4% 4%;
}

.full-npcs .npc-details .maiden-npc{
    width: auto;
}

.full-npcs .npc-details .maiden-npc .image{
    float: left;
}

.full-npcs .npc-details .maiden-npc .image img{
    width: 300px;
}

/* .full-npcs:nth-child(3){
    margin-top: 0;
    border: 0;
    background: #262626;
}

.full-npcs:nth-child(3) .content-editable textarea{
    border: 0;
    background: #161616;
    width: 79.3%;
    color: inherit;
    outline: none;
    font-size: 14pt;
}

.full-npcs:nth-child(3) .container-img{
    float: left;
    display: grid;
    margin-right: 10px;
    margin-left: -15%;
    text-align: center;
}

.full-npcs:nth-child(3) .container-img img{
    border-radius: 100%;
    border: 0.2px solid #a1261b;
}

.full-npcs:nth-child(3) .container-img span{
    margin-left: -05%;
    margin-top: 10px;
}

.full-npcs:nth-child(3) .buttons{
    float: right;
    margin-right: 10px;
}

.full-npcs:nth-child(3) .buttons input[type = submit]{
    border: 0.2px solid #a1261b;
    background: transparent;
    color: inherit;
    padding: 10px;
} */


.content-form input, .content-form textarea{
    background: transparent;
    color: inherit;
    border: 1px solid #a1261b;
    outline: none;
}